body {
  Background-color: slateblue;
  color: white;
  text-align: center;
}
a {
  background-color: white;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  display: block;
  text-align: center;
  margin: 10px 300px 10px 300px;
  color: slateblue;
}
